.loginBox {
    position: absolute;
    top: 53%;
    right: 50%;
    transform: translate(50%, -50%);
    border: 1px solid rgb(94, 82, 82);
    padding: 3%;
    width: 30%;
    background-color: #343a40;
    z-index: 10000;
    opacity: 0.9;
    border-radius: 6px;
    color: rgb(255, 255, 255);
}
input[type="text"],
input[type="email"],
input[type="password"] {
    background-color: rgb(255, 255, 255);
}
small {
    color: rgb(255, 255, 255);
}
.page-footer {
    position: absolute;
    bottom: 0;
    height: 24%;
    width: 100%;
}

.header {
    position: absolute;
    width: 100%;
    z-index: 1000;
}
